/* Основные стили проекта. Стили для темы, сверстанной первой (тёмной). */

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height-page);
  background-color: var(--color-bg);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  gap: var(--gap-page);
}

/* Header & Footer (Шапка и подвал) */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.footer {
  display: grid;
  justify-items: center;
  flex-shrink: 0;
}

.header,
.footer {
  position: relative;
  padding: var(--paddings);
  min-height: 100vh;
  align-items: center;
}

/* Header & Footer: decorated-zone (декоративные уголки) */

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: var(--paddings);
  inset-inline-end: var(--paddings);
  border-block-start: 1px solid var(--color-accent);
  border-inline-end: 1px solid var(--color-accent);
}

.decorated-zone::after {
  inset-inline-start: var(--paddings);
  inset-block-end: var(--paddings);
  border-block-end: 1px solid var(--color-accent);
  border-inline-start: 1px solid var(--color-accent);
}

/* Header: декоративный элемент - rec */

.rec {
  display: grid;
  position: absolute;
  grid-template-columns: min-content min-content;
  align-items: center;
  color: var(--color-accent);
  inset-block-start: var(--paddings);
  inset-inline-end: var(--paddings);
}

.rec::before {
  content: "REC";
}

.rec::after {
  --size-circle: 9px;
  content: "";
  width: var(--size-circle);
  height: var(--size-circle);
  background-color: var(--color-accent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-accent);
  margin: 10px;
}

/* Header: theme-menu (меню выбора цветовых тем) */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: inherit;
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  color: var(--color-accent);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-accent);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color-accent);
}

/* Header & Footer: title & article */

.header__title,
.footer__title {
  color: var(--color-text-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

.header__title {
  text-shadow: 4px 4px var(--color-accent);
}

.footer__title {
  text-shadow: 2px 2px var(--color-accent);
}

.header__article {
  justify-self: end;
}

/* Основной контент */

.content {
  display: grid;
  flex: 1;
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  padding-inline-start: var(--paddings);
  padding-inline-end: var(--paddings);
  gap: var(--gap-section);
}

.section {
  display: grid;
  gap: var(--gap-text-block);
}

.section__title {
  font-size: inherit;
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

.text-decor {
  font-size: inherit;
  color: var(--color-bg);
  background-color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

.text-normal {
  font-weight: var(--font-weight-normal);
}

.section__text-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text);
}

.grid__title-up-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text-block);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--color-accent);
}

.link:hover {
  border-bottom: 1px solid var(--color-text);
}

.link:focus {
  border: none;
}

.link:focus-visible {
  outline: 1px solid var(--color-text);
}

.grid__gallery {
  gap: var(--paddings);
}

.image__gallery {
  display: grid;
  gap: var(--paddings);
}

.image__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Медиа-запросы */

@media (min-width: 768px) {

  .header__title {
    margin-inline-start: calc(-1 * var(--paddings));
  }

  .header__article {
    width: 50%;
  }

  .grid__title-left {
    grid-template-columns: repeat(3, 1fr);
  }

  .text-block__grid-tl {
    grid-column: 2/-1;
  }

  .grid__title-left .section__title {
    grid-row: 1/3;
  }

  .grid__title-up .section__title{
    width: min-content;
  }

  .image__gallery {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
  }

  .image__item:nth-of-type(1) {
    grid-area: a;
  }

  .image__item:nth-of-type(2) {
    grid-area: b;
  }

  .image__item:nth-of-type(3) {
    grid-area: c;
  }

  .image__item:nth-of-type(4) {
    grid-area: d;
  }

  .image__item:nth-of-type(5) {
    grid-area: e;
  }
}

@media (min-width: 1024px) {

  .header__title {
    text-shadow: 4px 4px var(--color-ttitle-shadow-1024);
  }

  .footer__title {
    text-shadow: 2px 2px var(--color-ttitle-shadow-1024);
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .grid__title-up {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid__title-up-wrapper {
    grid-column: 1/-1;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap-text-block);
  }

  .grid__title-up .section__title {
    grid-column: 1/2;
    width: auto;
  }

  .section__text-block {
    flex: 1;
  }
}