/* Основные стили проекта. Стили для темы, сверстанной первой (тёмной). */

.page {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height-page);
  background-color: var(--color-bg);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  gap: var(--gap-page);
}

/* Header & Footer (Шапка и подвал) */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.footer {
  display: grid;
  justify-items: center;
  flex-shrink: 0;
}

.header,
.footer {
  position: relative;
  padding: var(--paddings);
  min-height: 100vh;
  align-items: center;
}

/* Header & Footer: decorated-zone (декоративные уголки) */

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: var(--paddings);
  inset-inline-end: var(--paddings);
  border-block-start: 1px solid var(--color-item-decor);
  border-inline-end: 1px solid var(--color-item-decor);
}

.decorated-zone::after {
  inset-inline-start: var(--paddings);
  inset-block-end: var(--paddings);
  border-block-end: 1px solid var(--color-item-decor);
  border-inline-start: 1px solid var(--color-item-decor);
}

/* Header: декоративный элемент - rec */

.rec {
  display: grid;
  position: absolute;
  grid-template-columns: min-content min-content;
  align-items: center;
  color: var(--color-item-decor);
  inset-block-start: var(--paddings);
  inset-inline-end: var(--paddings);
  visibility: var(--rec-visibility);
  line-height: 1.39;
}

.rec::before {
  content: "REC";
}

.rec::after {
  content: "";
  width: var(--rec-size-circle);
  height: var(--rec-size-circle);
  background-color: var(--color-item-decor);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--color-item-decor);
  margin: 10px;
}

/* Header: theme-menu (меню выбора цветовых тем) */

.header__theme-menu {
  justify-self: right;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: inherit;
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  color: var(--color-button);
  line-height: 1;
  appearance: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-button);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color-button);
}

/* Header & Footer: title & article */

.title {
  color: var(--color-text-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

.header__title {
  text-shadow: 4px 4px var(--color-shadow);
}

.footer__title {
  text-shadow: 2px 2px var(--color-shadow);
}

.header__article {
  justify-self: end;
}

/* Основной контент */

.content {
  display: grid;
  flex: 1;
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  padding-inline-start: var(--paddings);
  padding-inline-end: var(--paddings);
  gap: var(--gap-section);
}

.section {
  display: grid;
  gap: var(--gap-text-block);
}

.section__title {
  font-size: inherit;
  color: var(--color-text-accent);
  font-weight: var(--font-weight-bold);
}

.text-decor {
  font-size: inherit;
  color: var(--color-text-decor);
  background-color: var(--color-bg-decor);
  font-weight: var(--font-weight-bold);
}

.text-normal {
  font-weight: var(--font-weight-normal);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text-block);
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text);
}

.section__advices {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text-block);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--color-shadow);
}

.link:hover {
  border-bottom: 1px solid var(--color-text);
}

.link:focus {
  border: none;
}

.link:focus-visible {
  outline: 1px solid var(--color-text);
}

.section_gallery {
  gap: var(--paddings);
}

.section__list-gallery {
  display: grid;
  gap: var(--paddings);
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Медиа-запросы */

@media (width >= 768px) {

  .header__title {
    margin-inline-start: calc(-1 * var(--paddings));
  }

  .header__article {
    width: 50%;
  }

  .section_one-column {
    grid-template-columns: repeat(3, 1fr);
    /*column-gap: var(--gap-text-block);*/
    column-gap: 30px;
    row-gap: 0;
  }

  .section__list-one-column {
    grid-column: 2/-1;
  }

  .section_one-column .section__title {
    grid-row: 1/3;
  }

  .section_many-column .section__title {
    width: min-content;
  }

  .section__advices {
    column-gap: var(--gap-text-block);
    grid-column: 2/-1;
  }

  .section__list-gallery {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .gallery__item:nth-of-type(1) {
    grid-area: sunset;
  }

  .gallery__item:nth-of-type(2) {
    grid-area: ice-cream;
  }

  .gallery__item:nth-of-type(3) {
    grid-area: tape;
  }

  .gallery__item:nth-of-type(4) {
    grid-area: books;
  }

  .gallery__item:nth-of-type(5) {
    grid-area: street;
  }
}

@media (width >= 1024px) {

  .header__title {
    text-shadow: 4px 4px var(--color-title-shadow-desktop);
  }

  .footer__title {
    text-shadow: 2px 2px var(--color-title-shadow-desktop);
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section_many-column {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__list-many-column {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section_many-column .section__title {
    grid-column: 1/2;
    width: auto;
  }

  .section__text-block {
    flex: 1;
  }
}